<!-- The content page extends our base template -->
{% extends 'base.html' %}

<!-- Fill in the title -->
{% block title %}Enter your unique code{% endblock %}
{% block content %}
<form id="unique_code_box" action="get_card" method="post">
    <div>
        <p>
            <label for="code">Enter your code:</label>
        </p>
        <p>
            <input type="text" id="code" name="code">
        </p>
        <p>
            <input type="submit" id="submit" name="submit" value="See message">
        </p>
        </div>
</form>
{% endblock %}